*{
	margin: 0;
	padding: 0;
	font-family:sans-serif;
}
body{
	overflow: hidden;
}
.container .container{
	height: 100%;
	width: 250px;
	min-height: 100vh;
	background: linear-gradient(45deg, black, grey);
	color: #fff;
	position: absolute;
	z-index: 1;
	transition: 0.5s ease;
	transform: translateX(-250px);
}
.container .container .head{
	color: #fbfdce;
	font-size: 30px;
	font-weight: bold;
	padding: 30px;
	text-transform: uppercase;
	text-align: left;
	letter-spacing: 3px;
	background: linear-gradient(30deg,#df0155,#ed4901)
}
.container{
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(45deg, black, grey);
	color: #fff;
	position: relative;
}
ol{
	width: 100%;
	list-style: none;
}
ol li{
	display: block;
	width: 100%;
}
ol li a{
	color: #fbfdce;
	padding: 15px 10px;
	text-decoration: none;
	display: block;
	font-size: 20px;
	letter-spacing: 1px;
	position: relative;
	transition: 0.3s;
	overflow: hidden;
}
ol li a i{
	width: 70px;
	font-size: 25px;
	text-align: center;
	padding-left: 30px;
}
ol li:hover a{
	background: #030303;
	color: #00eaff;
	letter-spacing: 5px;
}
input{
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}
span{
	position: absolute;
	right: -40px;
	top: 30px;
	font-size: 25px;
	border-radius: 3px;
	color: #fff;
	padding: 3px 8px;
	cursor: pointer;
	background: #000;
}
#bars{
	background: red;
}
#check:checked ~ .container{
	transform: translateX(0);
}
#check:checked ~ .container #bars{
	display: none;
}
section{
	min-height: 100vb;
	background: url(img.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: 0.5s;
	filter: brightness(60%);
}
#check:checked ~ section{
	transform: scale(1.2);
	filter: brightness(20%);
}
.navbar{
	width: 90%;
	height: 15vh;
	margin: auto;
	display: flex;
	align-items: center;
}
.logo{
	width: 120px;
	cursor: pointer;
}
.menu-icon{
	width: 30px;
	cursor: pointer;
	margin-left: 80px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul li{
	list-style: none;
	display: inline-block;
	margin-left: 60px;
}
nav ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 14px;
	padding: 5px 2px;
}
nav ul li a:hover{
	color: #e7c82f;
}
.row{
	width: 80%;
	min-height: 85vh;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}
.col{
	margin: 20px 0;
	flex-basis: 50%;
	min-width: 300px;
	height: 100%;
	position: relative;
}
.text-box{
	max-width: 500px;
	margin-top: 100px;
}
.text-box h4{
	color: #e7c82f;
}
.text-box h2{
	color: #e7c82f;
}
.text-box h1{
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 3px;
	line-height: 65px;
}

.gallery-box{
	max-width: 400px;
	position: relative;
	margin: auto;
}
.gallery-box img{
	width: 100%;
	border: 10px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
}
.gallery-box ul{
	position: absolute;
	right: -100px;
	top: 50%;
	transform: translateY(-50%);
}
.gallery-box ul li{
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	padding: 0 30px;
	margin-bottom: 30px;
	cursor: pointer;
	position: relative;
}
.gallery-box .active{
	color: #e7c82f;
}
.gallery-box ul li::after{
	content: '';
	width: 30px;
	height: 2px;
	background: transparent;
	position: absolute;
	top: 8px;
	left: -5px;
}
.gallery-box .active::after{
	background: #e7c82f;
}

.small-icon1{
	width: 15px;
	position: absolute;
	right: 200px;
	top: -10px;
	opacity: 0.3;
}
.small-icon2{
	width: 25px;
	position: absolute;
	right: 200px;
	top: -100px;
	opacity: 0.3;
}
.small-icon3{ 
	width: 25px;
	position: absolute;
	right: 50px;
	top: 250px;
	opacity: 0.5;
	transform: rotate(45deg);
}

.small-icon4{ 
	width: 250px;
	position: absolute;
	right: 120px;
	top: -150px;
	opacity: 0.3;
}
.small-icon5{ 
	width: 25px;
	position: absolute;
	right: 60px;
	top: 100px;
	opacity: 0.3;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}
@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
		margin-left: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		text-decoration: none;
		color: #fff;
		font-size: 14px;
		padding: 5px 2px;
	}
	a:hover, a.active{
		background: none;
		color: #e7c82f;
	}
	#check: checked ~ ul{
		left: 0;
	}
}
